.Mediabox 
{
}
.Play 
{
	cursor:pointer;
	padding:5px;

}
.Pause 
{
	cursor:pointer;
	padding:5px;
}
.Stop 
{
	cursor:pointer;
	padding:5px;
}
#MediaBoxLink
{
	display:none;
	color:white;
	border:0px solid red;
	white-space:nowrap;
	display:inline;
	bottom:0;
	width:20px;
	height:20px;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	background: #065EFE;	
	cursor:pointer;

}
#MediaboxContainer 
{
	cursor:pointer;
	display:none;
	position:relative;
	text-align:right;
	list-style:none;	
}
#MediaboxControls
{	
	display:none;
	border-width:thin;
	border-color:Black;
	color:white;
	text-align:right;
	width:200px;	
	background: #065EFE;
}